# ***Python Basics***

### **Print Statement**

In [1]:
print("Hello, World!")

Hello, World!

### **Input Function**

In [2]:
name = input("Enter your name: ")
print("Hello, " + name + "!")

Enter your name: Sufiyan
Hello, Sufiyan!

### **Data Types & type() Function**

***Python supports multiple data types:***

In [3]:
integer_var = 10   # Integer
float_var = 10.5   # Float
string_var = "Python" # String
boolean_var = True # Boolean
list_var = [1, 2, 3, 4] # List
tuple_var = (1, 2, 3, 4) # Tuple
set_var = {1, 2, 3, 4} # Set
dict_var = {"name": "John", "age": 25} # Dictionary

### **for Loop**

In [23]:
for i in range(5):  # Iterates from 0 to 4
    print(i)

0
1
2
3
4

### **while Loop**

In [24]:
x = 0
while x < 5:
    print(x)
    x += 1

0
1
2
3
4

### **Nested Loops**

In [25]:
for i in range(3):
    for j in range(2):
        print(f"i={i}, j={j}")

i=0, j=0
i=0, j=1
i=1, j=0
i=1, j=1
i=2, j=0
i=2, j=1

### **Loop Control Statements**

> These modify loop behavior:

* `break:` Exits the loop entirely.
* `continue:` Skips the current iteration.
* `pass:` Does nothing (used as a placeholder).

In [26]:
for i in range(5):
    if i == 3:
        break  # Stops the loop when i is 3
    print(i)

0
1
2

### **else with Loops**
Python allows an `else` block with `for` and `while` loops, which runs when the loop finishes normally (i.e., not exited via `break`).

In [27]:
for i in range(3):
    print(i)
else:
    print("Loop completed")

0
1
2
Loop completed

### **Difference Between List, Tuple, and Set**

**List**: Ordered, mutable, allows duplicate elements

In [4]:
list_example = [1, 2, 3, 4, 1]
print("List:", list_example)

List: [1, 2, 3, 4, 1]

**Tuple**: Ordered, immutable, allows duplicate elements

In [5]:
tuple_example = (1, 2, 3, 4, 1)
print("Tuple:", tuple_example)

Tuple: (1, 2, 3, 4, 1)

**Set**: Unordered, mutable, does not allow duplicate elements

In [6]:
set_example = {1, 2, 3, 4, 1}
print("Set:", set_example)  # Duplicate 1 is removed

Set: {1, 2, 3, 4}

## **List Method**

### **`append()` – Add an element to the end**

In [29]:
arr = [1, 2, 3]
arr.append(4)
print(arr)

[1, 2, 3, 4]

### **`extend()` – Add multiple elements**

In [30]:
arr = [1, 2, 3]
arr.extend([4, 5, 6])
print(arr)

[1, 2, 3, 4, 5, 6]

### **`insert()` – Insert at a specific**

In [31]:
arr = [1, 2, 4]
arr.insert(2, 3)  # Insert 3 at index 2
print(arr)

[1, 2, 3, 4]

### **`pop()` – Remove an element (default last)**

In [32]:
arr = [1, 2, 3, 4]
arr.pop(2)  # Removes element at index 2
print(arr)

[1, 2, 4]

### **`remove()` – Remove the first occurrence of an element**

In [33]:
arr = [1, 2, 3, 2]
arr.remove(2)
print(arr)

[1, 3, 2]

### **`index()` – Get index of an element**

In [34]:
arr = [10, 20, 30, 40]
print(arr.index(30))

2

### **`count()` – Count occurrences of an element**

In [36]:
arr = [1, 2, 3, 2, 2, 4]
print(arr.count(2))

3

### **`reverse()` – Reverse the array**

In [37]:
arr = [1, 2, 3, 4]
arr.reverse()
print(arr)

[4, 3, 2, 1]

### **`sort()` – Sort the array**

In [38]:
arr = [3, 1, 4, 2]
arr.sort()
print(arr)

[1, 2, 3, 4]

### **`copy()` – Copy an array**

In [39]:
arr = [1, 2, 3]
arr_copy = arr.copy()
print(arr_copy)

[1, 2, 3]

### **Iterators**

In [7]:
my_tuple = (1, 2, 3, 4)
my_iter = iter(my_tuple)
print(next(my_iter))
print(next(my_iter))

1
2

### **Date Module**

In [8]:
import datetime
date_now = datetime.datetime.now()
print("Current Date and Time:", date_now)

Current Date and Time: 2025-02-25 14:20:53.551605

### **Math Module**

In [10]:
import math
print("Square root of 16:", math.sqrt(16))
print("Factorial of 5:", math.factorial(5))

Square root of 16: 4.0
Factorial of 5: 120

### **JSON Module**

In [12]:
import json
data = '{"name": "John", "age": 30, "city": "New York"}'
parsed_data = json.loads(data)
print("JSON Data:", parsed_data["name"])

JSON Data: John

### **Modules in Python**

In [13]:
import random
print("Random number between 1 and 10:", random.randint(1, 10))

Random number between 1 and 10: 5

### **Linear Regression**

In [28]:
# Sample data
x = [1, 2, 3, 4, 5]
y = [2, 4, 6, 8, 10]

# Calculate mean of x and y
N = len(x)
sum_x = sum(x)
sum_y = sum(y)
sum_xy = sum(xi * yi for xi, yi in zip(x, y))
sum_x2 = sum(xi ** 2 for xi in x)

# Compute slope (m) and intercept (b)
m = (N * sum_xy - sum_x * sum_y) / (N * sum_x2 - sum_x ** 2)
b = (sum_y - m * sum_x) / N

# Prediction function
def predict(x_value):
    return m * x_value + b

# Predict for x = 6
prediction = predict(6)
print("Predicted value for input 6:", prediction)

Predicted value for input 6: 12.0

### **Lambda Functions**

In [15]:
square = lambda x: x * x
print("Square of 5:", square(5))

Square of 5: 25

### **Try-Except (Exception Handling)**

In [17]:
try:
    value = int(input("Enter a number: "))
    print("You entered:", value)
except ValueError:
    print("Invalid input! Please enter a number.")

Enter a number: 877
You entered: 877

# **OOP Concepts**

### **Defining a Class**

In [18]:
class Car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def show_details(self):
        print(f"Car Brand: {self.brand}, Model: {self.model}")

## Creating an Object
car1 = Car("Toyota", "Corolla")
car1.show_details()

Car Brand: Toyota, Model: Corolla

### **Inheritance**

In [19]:
class ElectricCar(Car):
    def __init__(self, brand, model, battery_capacity):
        super().__init__(brand, model)
        self.battery_capacity = battery_capacity

    def show_details(self):
        print(f"Electric Car Brand: {self.brand}, Model: {self.model}, Battery: {self.battery_capacity} kWh")

## Creating an Object of ElectricCar
ecar = ElectricCar("Tesla", "Model S", 100)
ecar.show_details()

Electric Car Brand: Tesla, Model: Model S, Battery: 100 kWh

### **Encapsulation**

In [20]:
class BankAccount:
    def __init__(self, balance):
        self.__balance = balance  # Private variable

    def deposit(self, amount):
        self.__balance += amount
        print(f"New Balance: {self.__balance}")

    def get_balance(self):
        return self.__balance

account = BankAccount(1000)
account.deposit(500)
print("Account Balance:", account.get_balance())  # Access via method, not directly

New Balance: 1500
Account Balance: 1500

### **Polymorphism**

In [21]:
class Animal:
    def speak(self):
        return "Animal speaks"

class Dog(Animal):
    def speak(self):
        return "Woof!"

class Cat(Animal):
    def speak(self):
        return "Meow!"

animals = [Dog(), Cat(), Animal()]
for animal in animals:
    print(animal.speak())

Woof!
Meow!
Animal speaks

### **Abstraction**

In [22]:
from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def area(self):
        pass

class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

rectangle = Rectangle(10, 5)
print("Rectangle Area:", rectangle.area())

Rectangle Area: 50